/*! function */

//Base
//-----------------
.fn-border-radius(@radius) {
	webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

.fn-transition(@animate) {
	transition: @animate;
	-webkit-transition: @animate;
}

.fn-box-shadow(@shadow:0 0 5px #cfcfcf){
	-moz-box-shadow: @shadow;
	-webkit-box-shadow: @shadow;
	box-shadow: @shadow;
}