/*! dropdownmenu */

//Base
//-----------------
.pb {
	padding: @styleBoxPadding*.5 @styleBoxPadding;
	display: inline-block;
	border: @styleBr;
	background: @styleShallowBg;
	position: relative;
	overflow: visible;

	.fn-border-radius(@styleBrRad);
}

.pb-arrow{
	list-style: none;
	position: absolute;
	width: 0;
	line-height: 0;
	height: 0;

	.pb-arrow-top;
}

//Arrow Direction
//-----------------
.pb-arrow-top{
	top:-.8em;
	left: 50%;
	margin-left: -.6em;
	border-right: transparent .8em solid;
	border-top: transparent 0 solid;
	border-left: transparent .8em solid;
	border-bottom: @styleShallowBg .8em solid;
}

.pb-arrow-bottom{
	bottom:-.8em;
	top:auto;
	left: 50%;
	margin-left: -.6em;
	border-right: transparent .8em solid;
	border-top: @styleShallowBg .8em solid;
	border-left: transparent .8em solid;
	border-bottom: transparent 0 solid;
}

.pb-arrow-left,
.pb-arrow-right{
	top:50%;
	margin-top: -.6em;
}

.pb-arrow-left{
	left: 0;
	text-align: left;
	border-right: @styleShallowBg .6em solid;
	border-top: transparent .6em solid;
	border-left: transparent 0 solid;
	border-bottom: transparent .6em solid;
}

.pb-arrow-right{
	left:auto;
	right: -.6em;
	border-right: transparent 0 solid;
	border-top: transparent .6em solid;
	border-left: @styleShallowBg .6em solid;
	border-bottom: transparent .6em solid;
}